<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
  <handlers>
   <add name="Python FastCGI"
    path="*"
    verb="*"
    modules="FastCgiModule"
    scriptProcessor=""
    resourceType="Unspecified"
    requiredAccess="Script" />
  </handlers>
 </system.webServer>


 <appSettings>
  <!--Required Settings-->
  <add key="WSGI_HANDLER" value="" />
  <add key="PYTHONPATH" value="" />

  <add key="DJANGO_SETTINGS_MODULE" value="" />

 </appSettings>
</configuration>